@import "./markdown.css";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-teal-600 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-700;
  font-size: 0.9em;
}

.msg {
  @apply m-7  p-2 
  overflow-hidden
content-center   
mx-auto
sm:m-3

max-w-xs
  sm:max-w-60
  max-h-32
  min-h-32
  text-black
  bg-gray-100
  dark: bg-dark-200
  overflow-ellipsis
  dark:text-gray-200
  dark:border-1 dark:border-gray-600
  border-1 border-black
  rounded-md
  cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-700 hover:border-teal-700
    transform transition duration-500 sm:hover:scale-115;
    
}

.list {
  @apply m-7  p-2 
mx-auto
sm:m-3
max-w-xs
  sm:max-w-60
  text-black
  bg-gray-100
  dark: bg-dark-200
  overflow-hidden
  dark:text-gray-300
  dark:border-1 dark:border-gray-600
  border-1 border-black
  rounded-md
  cursor-pointer select-none
  opacity-75 transition duration-200 ease-in-out
  hover:opacity-100 hover:text-teal-700 hover:border-teal-700
  transform transition duration-500 sm:hover:scale-115;

}

.hr {
  @apply w-3/4 mx-auto transition duration-500 my-2;
}
